@import 'compass';
@include global-reset;

h1 { font-size: 28px;}
.mytable { border: 1px solid #dcdcdc; width: 550px; margin: 20px auto;}
.mytable caption { text-align: center; margin: 10px 0;}
.mytable thead { background: #DAC9A6; color: #666;}
.mytable td { text-align: center;}