%table.table.table-striped.mytable
	%caption
		%h1 排序與刪除
	%thead
		%tr 
			%td ID
			%td UserName
			%td Number
			%td Status
	%tbody
		%tr
			%td 1
			%td 大雄
			%td 2312
			%td{"data-type" => "sortable"}
				%a.btn.btn-primary{:href => "#", :title => "置頂", "data-act" => "top"} 置頂
				%a.btn.btn-info{:href => "#", :title => "上移", "data-act" => "up"} 上移
				%a.btn.btn-success{:href => "#", :title => "下移", "data-act" => "down"} 下移
				%a.btn.btn-warning{:href => "#", :title => "置底", "data-act" => "bottom"} 置底
				%a.btn.btn-danger{:href => "#", :title => "刪除", "data-act" => "delete"} 刪除
		%tr
			%td 2
			%td 多啦a夢
			%td 3453
			%td{"data-type" => "sortable"} 
				%a.btn.btn-primary{:href => "#", :title => "置頂", "data-act" => "top"} 置頂
				%a.btn.btn-info{:href => "#", :title => "上移", "data-act" => "up"} 上移
				%a.btn.btn-success{:href => "#", :title => "下移", "data-act" => "down"} 下移
				%a.btn.btn-warning{:href => "#", :title => "置底", "data-act" => "bottom"} 置底
				%a.btn.btn-danger{:href => "#", :title => "刪除", "data-act" => "delete"} 刪除
		%tr
			%td 3
			%td 靜香
			%td 4667
			%td{"data-type" => "sortable"} 
				%a.btn.btn-primary{:href => "#", :title => "置頂", "data-act" => "top"} 置頂
				%a.btn.btn-info{:href => "#", :title => "上移", "data-act" => "up"} 上移
				%a.btn.btn-success{:href => "#", :title => "下移", "data-act" => "down"} 下移
				%a.btn.btn-warning{:href => "#", :title => "置底", "data-act" => "bottom"} 置底
				%a.btn.btn-danger{:href => "#", :title => "刪除", "data-act" => "delete"} 刪除
		%tr
			%td 4
			%td 小夫
			%td 9775
			%td{"data-type" => "sortable"} 
				%a.btn.btn-primary{:href => "#", :title => "置頂", "data-act" => "top"} 置頂
				%a.btn.btn-info{:href => "#", :title => "上移", "data-act" => "up"} 上移
				%a.btn.btn-success{:href => "#", :title => "下移", "data-act" => "down"} 下移
				%a.btn.btn-warning{:href => "#", :title => "置底", "data-act" => "bottom"} 置底
				%a.btn.btn-danger{:href => "#", :title => "刪除", "data-act" => "delete"} 刪除		
		%tr
			%td 5
			%td 胖虎
			%td 8475
			%td{"data-type" => "sortable"} 
				%a.btn.btn-primary{:href => "#", :title => "置頂", "data-act" => "top"} 置頂
				%a.btn.btn-info{:href => "#", :title => "上移", "data-act" => "up"} 上移
				%a.btn.btn-success{:href => "#", :title => "下移", "data-act" => "down"} 下移
				%a.btn.btn-warning{:href => "#", :title => "置底", "data-act" => "bottom"} 置底
				%a.btn.btn-danger{:href => "#", :title => "刪除", "data-act" => "delete"} 刪除




